{% extends 'students/base.html' %}

{% load i18n %}
{% load static from staticfiles %}

{% block meta_title %}{% trans "Delete Group" %}{% endblock meta_title %}

{% block title %}{% trans "Delete Group" %}{% endblock title %}

{% block status_message %}
	
{% endblock status_message %}

{% block content %}

<div class="col-xs-8 add_form">
	<form action="{% url "groups_delete" del_group.id %}" method="post">
	{% csrf_token %}
	<p>{% blocktrans with del_group=del_group.title %}Do You really want to delete group: "{{ del_group }}"?{% endblocktrans %}</p> 
	<input type="submit" value="{% trans "Yes" %}" name="delete_button"
			class="btn btn-danger">
	<input type="submit" value="{% trans "No" %}" name="cancel_button"
			class="btn btn-link">
	</form>
</div>

{% endblock content %}

{% block pagination %}
<div class="withoutPagination"></div>
{% endblock %}