{% extends "students/base.html" %}

{% load static from staticfiles %}

{% block meta_title %}Групи{% endblock meta_title %}

{% block title %}Групи{% endblock title %}

			{% block content %}
				
				<!--Start Groups List -->
				<table class="table table-striped table-hover">
				{% with order_by=request.GET.order_by reverse=request.GET.reverse %}
					<thead>
					<tr>
						<th width="10%">№</th>
						<th width="30%">
							<a href="{% url "groups" %}?order_by=title
								{% if order_by == 'title' and reverse != '1' %}&amp;reverse=1{% endif %}">
								Назва
								{% if order_by == 'title' and reverse != '1' %}
									<img src="{% static "img/arrow_up.png" %}" height="20" width="20"/>
								{% elif order_by == 'title' and reverse == '1'%}
									<img src="{% static "img/arrow-down.png" %}" height="20" width="20"/>
								<!-- Default ordering by title-->
								{% elif order_by == '' and reverse != '1' %}
									<img src="{% static "img/arrow_up.png" %}" height="20" width="20"/>
								{% endif %}
							</a>
						</th>
						<th width="40%">Староста</th>
						<th width="20%">Дії</th>
					</tr>
					</thead>
					{% endwith %}
					<tbody>
					{% for group in groups %}
					<tr>
						<td>
							{{ forloop.counter0|add:groups.start_index }}
						</td>
						<td>{{ group.title }}</td>
						<td>{{ group.leader }}</td>
						<td>
							<div class='btn-group'>
								<button type="button" class="btn btn-default dropdown-toggle" 
									data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Дія <span class="caret"></span>
								</button>
								<ul class="dropdown-menu">
									<li>
										<a href="#">Відвідування</a>
									</li>
									<li>
										<a href="{% url "groups_edit" group.id %}">Редагувати</a>
									</li>
									<li>
										<a href="{% url "groups_delete" group.id %}">Видалити</a>
									</li>
								</ul>
							</div>
						 </td>
					</tr>
					{% endfor %}
					</tbody>
				</table>
			{% endblock content %}
			</div>
			
	{% block pagination %}
		{% with object_list=groups %}
				{% include "students/pagination.html" %}
		{% endwith %}
	{% endblock pagination %}