{% extends 'students/base.html' %}

{% load i18n %}

{% load static from staticfiles %}

{% block meta_title %}Облік Відвідування{% endblock meta_title %}

{% block title %}Облік Відвідування{% endblock title %}

{% block content %}
<div class="col-xs-12">

{% if not students %}
		<div class="alert alert-warning">
			Поки немає жодного студента в базі. Будь ласка,
			<a href='{% url "students_add" %}'>додайте</a> першого. 
		</div>
	
{% else %}
	<div class="alert alert-warning">
			Зміни в журналі зберігаються автоматично при кожному кліку в клітинці
			таблиці.
			<span id="ajax-progress-indicator">Йде збереження...</span>
		</div>
	<p id="journal-nav" class="text-center">
		<a href="?month={{ prev_month }}" title="Попередній місяць">&larr;</a>
		<strong>{% trans month_verbose %} {{ year }}</strong>
		<a href="?month={{ next_month }}" title="Наступний місяць">&rarr;</a>
	</p>
	<table class="table table-hover table-striped table-bordered" id="students-journal">
		<thead>
			<tr class="header">
				<th class="num">#</th>
				<th class="name">Студент</th>
			{% for day in month_header %}
				<th class="day-header">
					{% trans day.verbose %}
					<br/>
					{{ day.day }}
				</th>
			{% endfor %}
			</tr>
		</thead>

		<tbody>
		{% csrf_token %}
		{% for student in students %}
			<tr>
				<td>
					{% if is_paginated %}
						{{ forloop.counter0|add:page_obj.start_index }}
					{% else %}
						{{ forloop.counter }}
					{% endif %}
				</td>
				<td>
					<a title="Редагувати" target="_blank" href="{% url "students_edit" student.id %}">
						{{ student.fullname }}
					</a>
				</td>
				{% for day in student.days %}
				<td class="day-box">
					<input type="checkbox" data-student-id="{{ student.id }}" data-date="{{ day.date }}"
						data-url="{{ student_update_url }}" value="1"{% if day.present %}checked="checked"{% endif %}/>
				</td>
				{% endfor %}
			</tr>
		{% endfor %}
		</tbody>
	</table>
</div>
{% endif %}
{% endblock content %}

{% block pagination %}
	{% with object_list=students %}
		{% include "students/pagination.html" %}
	{% endwith %}
{% endblock pagination %}
