{% extends "students/base.html" %}

{% load i18n %}

{% load static from staticfiles %}

{% block meta_title %}{% trans "Students" %}{% endblock meta_title %}

{% block title %}{% trans "Students" %}{% endblock title %}

		{% block add_New %}
		<!-- Add Student Button -->
			<a class="btn btn-primary add-new" href="{% url "students_add" %}">{% trans "Add Student" %}</a>
		{% endblock add_New %}
			
			{% block content %}
				<!--Start Students List -->
				<table class="table table-striped table-hover">
				{% with order_by=request.GET.order_by reverse=request.GET.reverse %}
					<thead>
					<tr>
						<th width="5%">№</th>
						<th width="15%">{% trans "Photo" %}</th>
						<th width="25%">
							<a href="{% url "home" %}?order_by=last_name
								{% if order_by == 'last_name' and reverse != '1' %}&amp;reverse=1{% endif %}">
								{% trans "Last name" %}
								{% if order_by == 'last_name' and reverse != '1' %}
									<img src="{% static "img/arrow_up.png" %}" height="20" width="20"/>
								{% elif order_by == 'last_name' and reverse == '1'%}
									<img src="{% static "img/arrow-down.png" %}" height="20" width="20"/>
								<!-- Default ordering by last_name-->
								{% elif order_by == '' and reverse != '1' %}
									<img src="{% static "img/arrow_up.png" %}" height="20" width="20"/>
								{% endif %}
							</a>
						</th>
						<th width="20%">
							<a href="{% url "home" %}?order_by=first_name
								{% if order_by == 'first_name' and reverse != '1' %}&amp;reverse=1{% endif %}">
								{% trans "First name" %}
								{% if order_by == 'first_name' and reverse != '1' %}
									<img src="{% static "img/arrow_up.png" %}" height="20" width="20"/>
								{% elif order_by == 'first_name' and reverse == '1'%}
									<img src="{% static "img/arrow-down.png" %}" height="20" width="20"/>
								{% endif %}
							</a>
						</th>
						<th width="15">
							<a href="{% url "home" %}?order_by=ticket
								{% if order_by == 'ticket' and reverse != '1' %}&amp;reverse=1{% endif %}">
								№ {% trans "ticket" %}
								{% if order_by == 'ticket' and reverse != '1' %}
									<img src="{% static "img/arrow_up.png" %}" height="20" width="20"/>
								{% elif order_by == 'ticket' and reverse == '1'%}
									<img src="{% static "img/arrow-down.png" %}" height="20" width="20"/>
								{% endif %}
							</a>
						</th>
						<th width="20%">{% trans "Actions" %}</th>
					</tr>
					</thead>
					{% endwith %}
					<tbody>
					{% for student in students %}
					<tr>
						<td>
							{{ forloop.counter0|add:students.start_index }}
						</td>
						<td>
							{% if student.photo %}
								<img class="img-circle" src="{{ student.photo.url }}" height="30"
								width="30"/>
							{% else %}
								<img class="img-circle" src="{% static "img/default_user.png" %}" height="30"
								width="30"/>
							{% endif %}
						</td>
						<td><a href = "{% url "students_edit" student.id %}" class="student-edit-form-link"> {{student.last_name}}</a></td>
						<td>{{student.first_name}}</td>
						<td>{{student.ticket}}</td>
						<td>
							<div class='btn-group'>
								<button type="button" class="btn btn-default dropdown-toggle" 
									data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									{% trans "Action" %}<span class="caret"></span>
								</button>
								<ul class="dropdown-menu">
									<li>
										<a href="{% url "journal" student.id %}">{% trans "Journal" %}</a>
									</li>
									<li>
										<a href="{% url "students_edit" student.id %}" class="student-edit-form-link">{% trans "Edit" %}</a>
									</li>
									<li>
										<a href="{% url "students_delete" student.id %}">{% trans "Delete" %}</a>
									</li>
								</ul>
							</div>
						 </td>
					</tr>
					{% endfor %}
					</tbody>
				</table>
			{% endblock content %}
			</div>
			
	{% block pagination %}
		{% with object_list=students %}
				{% include "students/pagination.html" %}
		{% endwith %}
	{% endblock pagination %}