{% extends "students/base.html" %}

{% load static from staticfiles %}

{% block meta_title %}Студенти{% endblock meta_title %}

{% block title %}Студенти{% endblock title %}

		{% block add_Student %}
		<!-- Add Student Button -->
			<a class="btn btn-primary add-student" href="{% url "students_add" %}">Додати Студента</a>
		{% endblock add_Student %}
			
			{% block content %}
				<!--Start Students List -->
				<table class="table table-striped table-hover">
				{% with order_by=request.GET.order_by reverse=request.GET.reverse %}
					<thead>
					<tr>
						<th width="5%">№</th>
						<th width="15%">Фото</th>
						<th width="25%">
							<a href="{% url "home" %}?order_by=last_name
								{% if order_by == 'last_name' and reverse != '1' %}&amp;reverse=1{% endif %}">
								Прізвище
								{% if order_by == 'last_name' and reverse != '1' %}
									<img src="{% static "img/arrow_up.png" %}" height="20" width="20"/>
								{% elif order_by == 'last_name' and reverse == '1'%}
									<img src="{% static "img/arrow-down.png" %}" height="20" width="20"/>
								<!-- Default ordering by last_name-->
								{% elif order_by == '' and reverse != '1' %}
									<img src="{% static "img/arrow_up.png" %}" height="20" width="20"/>
								{% endif %}
							</a>
						</th>
						<th width="20%">
							<a href="{% url "home" %}?order_by=first_name
								{% if order_by == 'first_name' and reverse != '1' %}&amp;reverse=1{% endif %}">
								Ім'я
								{% if order_by == 'first_name' and reverse != '1' %}
									<img src="{% static "img/arrow_up.png" %}" height="20" width="20"/>
								{% elif order_by == 'first_name' and reverse == '1'%}
									<img src="{% static "img/arrow-down.png" %}" height="20" width="20"/>
								{% endif %}
							</a>
						</th>
						<th width="15">
							<a href="{% url "home" %}?order_by=ticket
								{% if order_by == 'ticket' and reverse != '1' %}&amp;reverse=1{% endif %}">
								№ білету
								{% if order_by == 'ticket' and reverse != '1' %}
									<img src="{% static "img/arrow_up.png" %}" height="20" width="20"/>
								{% elif order_by == 'ticket' and reverse == '1'%}
									<img src="{% static "img/arrow-down.png" %}" height="20" width="20"/>
								{% endif %}
							</a>
						</th>
						<th width="20%">Дії</th>
					</tr>
					</thead>
					{% endwith %}
					<tbody>
					{% for student in students %}
					<tr>
						<td>
							{{ forloop.counter0|add:students.start_index }}
						</td>
						<td>
							{% if student.photo %}
								<img class="img-circle" src="{{ student.photo.url }}" height="30"
								width="30"/>
							{% else %}
								<img class="img-circle" src="{% static "img/default_user.png" %}" height="30"
								width="30"/>
							{% endif %}
						</td>
						<td>{{student.last_name}}</td>
						<td>{{student.first_name}}</td>
						<td>{{student.ticket}}</td>
						<td>
							<div class='btn-group'>
								<button type="button" class="btn btn-default dropdown-toggle" 
									data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Дія <span class="caret"></span>
								</button>
								<ul class="dropdown-menu">
									<li>
										<a href="#">Відвідування</a>
									</li>
									<li>
										<a href="{% url "students_edit" student.id %}">Редагувати</a>
									</li>
									<li>
										<a href="{% url "students_delete" student.id %}">Видалити</a>
									</li>
								</ul>
							</div>
						 </td>
					</tr>
					{% endfor %}
					</tbody>
				</table>
			{% endblock content %}
			</div>
			
			{% block pagination %}
			{% with order_by=request.GET.order_by reverse=request.GET.reverse %}				
				{% if students.has_other_pages %}
					<ul class="pagination">
						<li>
							{% if students.has_previous %}
								<a href="{% url "home" %}?page={{ students.previous_page_number }}&amp;
								order_by={{ order_by }}&amp;reverse={{ reverse }}">
									&laquo;
								</a>
							{% else %}
								<li><span>&laquo;</span></li>
							{% endif %}
						</li>
						{% for i in students.paginator.page_range %}
							{% if i == students.number %}
								<li class="active">
									<span>{{ i }}</span>
								</li>
							{% else %}
								<li>
									<a href="{% url "home" %}?page={{ i }}&amp;
									order_by={{ order_by }}&amp;reverse={{ reverse }}">
									{{ i }}
									</a>
								</li>
							{% endif%}
						{% endfor %}
						<li>
							{% if students.has_next %}
								<a href="{% url "home" %}?page={{ students.next_page_number }}&amp;
								order_by={{ order_by }}&amp;reverse={{ reverse }}">
								&raquo;
								</a>
							{% else %}
								<li><span>&raquo;</span></li>
							{% endif %}
							</li>
						</ul>
				{% else %}
					<div class="withoutPagination"></div>
				{% endif %}
				{% endwith %}
	  		{% endblock pagination %}