html {
	height: 100%;
}

body {
	margin: 0;
	font-size: 16px;
	height: 100%;
}

h1, h2 {
	font-weight: bold;
	text-shadow: 1px 2px 3px rgba(0,0,0,0.8);
}

.nav li {
	font-weight: bold;
}

th, td {
	text-align: center;
}

.wrap {
	position: relative;
	min-height: 100%;
}

#group-selector {
	margin-top: 30px;
}
#group-selector select {
	width: 70%;
	border: 1px solid grey;
	border-radius: 5px;
	font-size: 0.9em;
	background-color: white;
	padding: 2px 0 2px 0;
}

.title {
	width: 350px;
	padding-bottom: 0px;

}

.content {
	padding-bottom: 100px;
}

.alert {
	margin-top: 10px;
	margin-bottom: 0px;
}
.content .add-new {
	margin-top: 20px;
	margin-bottom: 20px;
}

.footer {
	position: absolute;
	bottom: 0;
	height: 100px;
}

.pagination {
	margin: 0;
}

.withoutPagination{
	margin-top: 43px;
}

.copyright {
	margin-top: 10px;
	padding: 10px 0 0 20px;
	border-top: 1px solid lightgrey;
}

.add_form {
	clear: both;
}

textarea,
select,
input {
max-width: 320px;
}

.input-form {
max-width: 320px;	
}

td.day-box,
th.day-header {
	padding: 5px !important;
	vertical-align: middle !important;
	text-align: center; 
}

#ajax-progress-indicator {
	display: none;
}

.form-actions {
	max-width: 320px;
	margin-left: 180px;
}

#user-toolbar {
	/*margin-top: 30px;*/
	text-align: right;
}